.gradient-bg {
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.gradient-bg .base {
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(165deg, #e1e1e4 0%, #aaa6c3 16%, #584c90 31%, #423b5c 54%, #1d1c22 80%, #070708 100%);
}

.gradient-bg .treatment {
    position: absolute;
    inset: 0px;
    z-index: 1;
    background-image: linear-gradient(95deg, rgba(255, 0, 0, 0.15) 0%, transparent 10%), linear-gradient(215deg, rgba(0, 255, 0, 0.10) 0%, transparent 10%), linear-gradient(335deg, rgba(0, 0, 255, 0.15) 0%, transparent 10%), repeating-linear-gradient(0deg, transparent 0 3%, rgba(29, 28, 34, 0.30) 3% 3.5%, transparent 3.5% 7%);
    filter: blur(0px);
    opacity: 0.305;
}

.gradient-bg .glow {
    position: absolute;
    inset: 0;
    z-index: 2;
    background: radial-gradient(ellipse at 56% 8%, rgba(255, 255, 255, 0.24), transparent 38%), radial-gradient(ellipse at 52% 42%, rgba(93, 73, 192, 0.27), transparent 42%);
}

.gradient-bg .vignette {
    position: absolute;
    inset: 0;
    z-index: 4;
    background: radial-gradient(circle at center, transparent 25%, rgba(0, 0, 0, 0.15) 58%, rgba(0, 0, 0, 0.89) 100%), linear-gradient(to bottom, transparent 45%, rgba(0, 0, 0, 0.81) 100%);
}

.gradient-bg .noise {
    position: absolute;
    inset: 0;
    z-index: 5;
    mix-blend-mode: soft-light;
    opacity: 0.2;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-size: 180px 180px;
}

.gradient-bg .particles {
    position: absolute;
    inset: 0;
    z-index: 3;
    background: radial-gradient(circle at 26% 57%, rgba(215, 214, 225, 0.12) 0, transparent 2px), radial-gradient(circle at 70% 64%, rgba(255, 255, 255, 0.27) 0, transparent 2px), radial-gradient(circle at 14% 62%, rgba(255, 255, 255, 0.37) 0, transparent 2px), radial-gradient(circle at 57% 38%, rgba(255, 255, 255, 0.19) 0, transparent 1px), radial-gradient(circle at 23% 81%, rgba(255, 255, 255, 0.11) 0, transparent 1px), radial-gradient(circle at 25% 52%, rgba(255, 255, 255, 0.33) 0, transparent 3px), radial-gradient(circle at 6% 56%, rgba(255, 255, 255, 0.28) 0, transparent 2px), radial-gradient(circle at 32% 68%, rgba(215, 214, 225, 0.35) 0, transparent 3px), radial-gradient(circle at 12% 53%, rgba(255, 255, 255, 0.24) 0, transparent 1px), radial-gradient(circle at 71% 12%, rgba(215, 214, 225, 0.14) 0, transparent 3px), radial-gradient(circle at 7% 76%, rgba(255, 255, 255, 0.37) 0, transparent 1px), radial-gradient(circle at 83% 16%, rgba(255, 255, 255, 0.34) 0, transparent 1px), radial-gradient(circle at 90% 82%, rgba(255, 255, 255, 0.23) 0, transparent 1px), radial-gradient(circle at 19% 53%, rgba(255, 255, 255, 0.21) 0, transparent 2px), radial-gradient(circle at 62% 26%, rgba(215, 214, 225, 0.30) 0, transparent 2px), radial-gradient(circle at 24% 76%, rgba(255, 255, 255, 0.22) 0, transparent 2px), radial-gradient(circle at 22% 24%, rgba(215, 214, 225, 0.35) 0, transparent 2px), radial-gradient(circle at 79% 39%, rgba(215, 214, 225, 0.16) 0, transparent 2px), radial-gradient(circle at 33% 53%, rgba(215, 214, 225, 0.10) 0, transparent 3px), radial-gradient(circle at 10% 48%, rgba(215, 214, 225, 0.25) 0, transparent 3px), radial-gradient(circle at 32% 68%, rgba(215, 214, 225, 0.29) 0, transparent 3px), radial-gradient(circle at 84% 85%, rgba(255, 255, 255, 0.24) 0, transparent 3px), radial-gradient(circle at 26% 85%, rgba(215, 214, 225, 0.22) 0, transparent 3px), radial-gradient(circle at 50% 17%, rgba(215, 214, 225, 0.11) 0, transparent 3px), radial-gradient(circle at 39% 36%, rgba(255, 255, 255, 0.13) 0, transparent 3px);
}